body {
	background-color: lightgray;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

header p,h1{
	text-align: left;
}

.welcome {
	background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.diet h3,p {
	text-align: center;
}

.image-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.image-container img {
	max-width: 400px;
	height: 100%;
}

.image-container-desc p {
	text-align: left;

}

table, th, td {
	text-align: center;
	border: 1px solid black;
}
